.App {
  text-align: center;
  margin-top: 50px;
}

form {
  margin: 20px 0;
}

input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #282c34;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #61dafb;
}

.ball {
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-size: 1.2rem;
}
